@{
    ViewBag.Title = "За нас";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-muted">Изработиле:</h3>
            <h4 class="text-danger">Марија Николова</h4>
            <h4 class="text-danger">Ана Димитровска</h4>
            <h4 class="text-danger">Кристина Ѓоргиевска</h4>
            <h4 class="text-danger">Адријана Темелковска</h4>
        </div>
    </div>
</div>